body{
    background-color: black;
    margin: 0;
}
#total_box{
    height: 500px;
}
#photo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    border:5px solid lightcyan;
}
h1{
    margin-top: 50px;
    font-size: 75px;
    text-align: center;
    color: white;
    font-family: 'Libre Baskerville', serif;
}
p{
    font-size: 45px;
    text-align: center;
    color: white;
    font-family: 'Libre Baskerville', serif;
}